@import './base.css';

.header{
    margin-top: 30px;
    padding: 4px 0px;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 200px;
    height: 41px;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-header__ul{
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-header__ul li{
    list-style-type: none;
}

.nav-header__a{
    display: block;
    padding-left: 50px;

    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-gray);

    transition: 0.1s;

    text-decoration: none;
}

.nav-header__a:hover{
    color: var(--color-black);

    transition: 0.1s;
}

.header__action{

}