@import './base.css';

.intro{
    margin-top: 100px;
}

.intro .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro__content{

}

.intro__content h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    color: var(--color-black);

    margin: 30px 0px;
}

.intro__content p{
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-gray);

    margin-bottom: 50px;
}

.intro__btn-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}